<%- include('header.ejs') %>
<div class="about_container">
    <h1>About Us</h1>
    <p><span>Curated Recipes:</span>  Our team of passionate food enthusiasts scours the culinary world to bring you a carefully 
        <br>curated collection of recipes from around the globe. From classic comfort foods to innovative fusion dishes,
        <br> we've got something to tantalize every palate. <br>

       <span>Personalized Recommendations:</span>  With our intelligent recommendation engine, we tailor recipe suggestions to your tastes, 
        <br>dietary preferences, and cooking skill level. Say goodbye to endless scrolling and let us guide you to your next culinary masterpiece.</p>


</div>
<%- include('footer.ejs') %>