<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#E80101" />
    <link rel="icon" href="https://alvasinsiemria.com/Fitness-Website-Landing-Page-main/Logo/Artboard 3.png" />
    
    <link rel="stylesheet" href="styles/main2.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Ultra&display=swap" rel="stylesheet">
    
<!--     <link rel="stylesheet" href="../css/style.css" /> -->
    <title>NutriPalan Fitness Plan</title>
  </head>
  <body>